<div class="question-group">
	<div class="container">
		<div class="row">
			<% @sections.each do |qs| %>
			 <div class="question-box">
				<%= form_for UserSection.new, url: questions_path, method: :post do |f| %>
					<h2 class="question-person">
						<br><%= qs.question_sentence %><br>
					</h2>
					<div class="user-shipping-address">
						<!-- answerとmistakeの並びをシャッフルする -->
                        <% a = [qs.answer, qs.mistake].shuffle %>
                        <% a.each do |b| %>
                             <!--: f.radio_button :記録したいカラム名,送りたいデータ名{初期値を未チェックにする} -->
                             <!--:useranswerに@sectionのanswerを送る -->
                        	<%= f.radio_button :useranswer, b, {:checked => false} %>
							<span><%= b %></span><br>
                        <% end %>
					</div>
					<!-- paramsにsection_idを送る -->
					<%= hidden_field_tag :section_id, qs.id %>
					<!-- paramsにquestion_idを送る -->
					 <div class="select-btn">
						<%= f.submit "結果を見る", class: "btn btn-default" %>
					 </div>
				<% end %>
			  <% end %>
			</div>
		</div>
	</div>
</div>
</div>

