<div class="rog_in_group">
  <div class="sign-in-box">
     <div class="field">
        <h1>ログインフォーム</h1>
     </div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :メールアドレス %><br>
        </div>
         <div class="field">
          <%= f.text_field :email, autofocus: true, placeholder:"メールアドレス" %>
        </div>
        <div class="field">
          <%= f.label :パスワード%><br>
        </div>
         <div class="field">
          <%= f.password_field :password, autocomplete: "new-password", placeholder:"6文字以上入力" %><br>
        </div>
        <div class="field">
          <%= f.label :パスワード再入力%><br>
        </div>
         <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"6文字以上入力" %>
        </div>

        <div class="actions">
          <%= f.submit "ログイン" %>
        </div>
      <% end %>
  </div>
</div>
