<div class="user-info">
  <div class="container">
    <div class="row">
     <div class="user-info-box">
      <div class="col-md-12">
        <h1>登録情報編集</h1><br>
        <%= form_for(@user) do |f| %>
        <div class="s">
          <%= f.label :プロフィール画像 %><br>
        </div>
        <div class="ss">
           <%= f.file_field :profile_image %>
        </div>

        <div class="s">
          <div class="user-update-btn">
             <%= f.submit "編集する" %>
          </div>
        </div>
        <% end %>
        <%= link_to "退会はこちらから",user_path, method: :delete,"data-confirm" => "本当に退会しますか？", class: "btn btn-danger" %>
      </div>
     </div>
    </div>
  </div>
</div>