<div class="user-page">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="c-card-1">
					<div class="user_profile">
						<img><%= attachment_image_tag(current_user, :profile_image, fallback: "no_image.png",size: '75x75') %>
						<div class="separate"></div>
						<p class="user-profile-box"><%= @user.email %>(Lv.<%= @user.level %>)<br><br>経験値:<%= @user.experience %>/50<br><br>
							<%= @user.profile %></p>
						<div class="separate"></div>
						<%= link_to 'My単語帳',sections_path,class: "btn btn-default" %>
						<div class="separate"></div>
						<%= link_to 'クイズを作ろう!!',new_section_path,class: "btn btn-default" %>
						<div class="separate"></div>
						<%= link_to "プロフィール編集",edit_user_path, class: "btn btn-default center-block" %><br>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h2 class="u">テスト結果</h2>
				<div class="c-card">
					<div class="user_profile">
						<table>
							<tbody>
								<% @questions.each do |question| %>
								<% question.question_sections.each do |question_section| %>
								<tr>
									<th></th>
									<td><%= question.id %></td><br>
									<td><div class="separate"></div></td>
									<th>解答：<%= question_section.sectionanswer %></th>
									<!--  -->
									<td><div class="separate"></div></td>
									<th>こたえ：</th>
									<td><%= question_section.section.answer %></td>
									<td><div class="separate"></div></th>
										<th>得点：<%= question_section.sectionscore %></th>
										<!--  -->
									</tr>
									<% end %>
									<% end %>
								</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-10">
					<h2 class="u">チャレンジしよう！</h2>
					<div class="c-card">
						<div class="user_profile">
							<table>
								<tbody>
									<% @sections.order(created_at: "desc").each do |section|%>
									<tr>
										<th><%= section.created_at.strftime("%Y-%m-%d %H:%M:%S") %></th><br>
										<th><div class="separate"></div></th>
										<th><%= section.answer %></th><br>
										<th><div class="separate"></th>
											<th><%= link_to "チャレンジしよう！",infomation_top_path,class: "btn btn-default" %></th>
											<th></th>
											<th></th>
										</tr>
										<% end %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<%= paginate @sections%>
			</div>
		</div>
</div>
