<div class="user-page">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<div class="c-card-1">
					<div class="user_profile">
						<img><%= attachment_image_tag(@user, :profile_image, fallback: "no_image.png",size: '85x85') %></img>
						<div class="separate"></div>
						<p class="user-profile-box"><%= @user.email %>(Lv.<%= @user.level %>)<br><br>経験値:<%= @user.experience %>/200<br><br>
							<%= @user.profile %></p>
						<div class="separate"></div>
						<%= link_to 'My単語帳',sections_path,class: "btn btn-default" %>
						<div class="separate"></div>
						<%= link_to "プロフィール編集",edit_user_path, class: "btn btn-default center-block" %><br>
					</div>
				</div>
			</div>
		</div>
	</div>
		<div class="container">
		  <div class="row">
		  	<div class="col-md-4">
		  		<div id="question-start">
		  			<h2>学習カレンダー-</h2>
		  			<p class="calendar-info">沢山クイズにチャレンジして、<br>経験値をGetしよう!</p>
		  			<p class="calendar-info">一問正解で20Ptをゲット、<br>200Ptで1Lv.アップ！</p>
		  			<p class="calendar-info">Yes you can,just do it !!</p>
			  		<p class="calendar-info"><%= link_to "チャレンジしよう！！",infomation_top_path,class: "btn btn-default" %></p>
		  		</div>
		  	</div>
		  	<div class="col-md-8">
		  		<div id="calendar">
　　　　　　　　　　　<div class="calender-color">
			  	    <div class="color-box-1"></div>
			  		<div class="color-box-2"></div>
			  		<div class="color-box-3"></div>
			  		<div class="color-box-4"></div>
			  		<div class="color-box-5"></div>
			  		<div class="color-box-6"></div>(少ない〜多い)
			  	  </div>
		  		</div>
		  	</div>
		  </div>
		</div>
   	　<div class="container">
		<div class="row">
			<div class="col-md-9">
				<h2 class="u">テスト結果</h2>
				<div class="c-card">
					<div class="user_profile">
						<table>
							<tbody>
								<% @questions.order(created_at: "desc").each do |question| %>
								<% question.scores.each do |score| %>
								<tr>
									<th>解答：<%= score.testanswer %></th>
									<!--  -->
									<td><div class="separate"></div></td>
									<th>こたえ：</th>
									<td><%= score.user_select_answer %></td>
									<td><div class="separate"></div></th>
										<th>獲得経験値：<%= score.point %></th>
										<!--  -->
									</tr>
									<% end %>
									<% end %>
								</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
