<div class="user-page">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="c-card-1">
					<div class="user_profile">
						<img><%= attachment_image_tag(@user, :profile_image, fallback: "/images/no_image.png",size: '85x85') %></img>
						<div class="separate"></div>
						<p class="user-profile-box"><%= @user.email %>(Lv.<%= @user.level %>)<br><br>経験値:<%= @user.experience %>/200<br><br>
							<%= @user.profile %></p>
						<div class="separate"></div>
						<%= link_to 'My単語帳',sections_path,class: "btn btn-default" %>
						<div class="separate"></div>
						<%= link_to 'クイズを作ろう!!',new_section_path,class: "btn btn-default" %>
						<div class="separate"></div>
						<%= link_to "プロフィール編集",edit_user_path, class: "btn btn-default center-block" %><br>
					</div>
				</div>
			</div>
		</div>
	</div>
		<div class="container">
		  <div class="row">
		  	<div class="<col-md-3>">
		  		<div id="calendar">
　　　　　　　　　　　<div class="calender-color">
			  	    <div class="color-box-1"></div>
			  		<div class="color-box-2"></div>
			  		<div class="color-box-3"></div>
			  		<div class="color-box-4"></div>
			  		<div class="color-box-5"></div>
			  		<div class="color-box-6"></div>(少ない〜多い)
			  	  </div>
		  		</div>
		  	</div>
		  </div>
		</div>
   	　<div class="container">
		<div class="row">
			<div class="col-md-11">
				<h2 class="u">テスト結果</h2>
				<div class="c-card">
					<div class="user_profile">
						<table>
							<tbody>
								<% @questions.order(created_at: "desc").each do |question| %>
								<% question.scores.each do |score| %>
								<tr>
									<th></th>
									<td><%= question.id %></td><br>
									<td><div class="separate"></div></td>
									<th>解答：<%= score.testanswer %></th>
									<!--  -->
									<td><div class="separate"></div></td>
									<th>こたえ：</th>
									<td><%= score.user_select_answer %></td>
									<td><div class="separate"></div></th>
										<th>獲得経験値：<%= score.point %></th>
										<!--  -->
									</tr>
									<% end %>
									<% end %>
								</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h2 class="u">チャレンジしよう！</h2>
					<div class="c-card-sections">
						<div class="user_profile">
							<table>
								<tbody>
									<tr>
										<th><%= @section.answer %></th><br>
										<th><div class="separate"></th>
											<th><%= link_to "チャレンジしよう！",infomation_top_path,class: "btn btn-default" %></th>
											<th></th>
											<th></th>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
