<div class="section-group">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="section-note">
				 <h2>attention</h2>
				  <h4>問題部分</h4>
				   <p>学んだワードを<br>入力しよう!</p>
				  <h4>こたえ</h4>
				   <p>問題部分のワードの訳を<br>入力しよう!<br>例）apple:りんご</p>
				  <h4>選択肢</h4>
				   <p>ほかに学んだワードの訳をいれてね。<br>クイズはこたえと<br>選択肢の二択になるよ。</p>
				  <h4>メモ欄</h4>
				   <p>学んだワードや選択肢の単語を使った<br>英文や熟語などを好きに記録しよう！<br>後から一緒に確認できるよ。</p>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="section-box">
					<h2>問題作成フォーム</h2>
					<%= form_with(model: @section) do |f| %>
					<div class="section-form">
						<%= f.label :問題部分 %>
						<%= f.text_field :question_sentence,maxlength:'20',placeholder:"学んだワードをいれよう!!" %><br>
					</div>
					<div class="section-form">
						<%= f.label :answer %>
						<%= f.text_field :answer,placeholder:"訳をいれよう!!" %><br>
					</div>
					<div class="section-form">
						<%= f.label :選択肢 %>
						<%= f.text_field :mistake %><br>
					</div>
					<div class="section-form">
						<%= f.label :メモ欄 %>
						<%= f.text_field :otherwise,maxlength:'40',placeholder:"40文字以内" %><br>
					</div>
					<%= hidden_field_tag :user_id, @user.id %>
					<div class="section-form">
						<%= f.submit "作成",class: 'btn btn-default'%>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
