<div class="admin-user-page">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="c-card-11">
					<div class="user_profile">
						<img><%= attachment_image_tag(current_user, :profile_image, fallback: "no_image.png",size: '75x75') %></img>
						<div class="separate"></div>
						<p class="user-profile-box"><%= current_user.email %><!-- (Lv.<%= current_user.level %>)<br><%= current_user.profile %> --></p>
						<div class="separate"></div>
						<div class="user-status">
						<p class="status">管理人</p>
						<!-- 	<p>経験値:<%= current_user.experience %>/50</p> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h2 class="u">登録された単語一覧</h2>
				<div class="c-card-admin">
					<div class="user_profile">
						<table>
							<tbody>
								<% @sections.order(created_at: "desc").each do |section| %>
								<tr>
										<th><%= link_to "削除",admin_section_path(section.id), method: :delete,"data-confirm" => "削除します", class: "btn btn-default" %></th>
										<th><div class="separate"></div></th>
										<th><%= section.question_sentence %></th><br>
										<th><div class="separate"></div></th>
										<th><%= section.answer %></th>
								</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="u">登録されたuser一覧</h2>
				<div class="c-card-admin-1">
					<div class="user_profile">
						<table>
							<tbody>
								<tr>
								　<th></th>
								  <th></th>
								  <th><div class="separate"></div></th>
								  <th>user名</th>
								  <th><div class="separate"></div></th>
								  <th>メールアドレス</th>
								  <th><div class="separate"></div></th>
								  <th>経験値(Pt.)</th>
								  <th><div class="separate"></div></th>
								  <th>Lv(Lv.)</th>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h2 class="u">登録user一覧</h2>
				<div class="c-card-admin-2">
					<div class="user_profile">
						<table>
							<tbody>
								<% @users.order(created_at: "desc").each do |user| %>
								<tr>
									<div class="col-md-12-sm-5">
										<th><%= user.name %></th><br>
										<th><div class="separate"></div></th>
									</div>
									<div class="col-md-12-sm-5">
										<th><%= user.email %></th>
									</div>
									<div class="col-md-12-sm-2">
										<th><div class="separate"></div></th>
									    <th><%= user.level%>(Lv.)</th><br>
										<th><div class="separate"></div></th>
										<th><%= link_to "詳細",admin_user_path(user.id)%></th>
									</div>
								</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>